[Unit]
Description=Tappd Service
After=network.target tboot.service
Before=docker.service

[Service]
OOMScoreAdjust=-1000
ExecStart=/bin/tappd --watchdog
Restart=always
User=root
Group=root
Type=notify
WatchdogSec=30s

[Install]
WantedBy=multi-user.target
